<h1>Students List</h1>
<p-table [value]="students">
    <ng-template pTemplate="header">
        <tr>
            <th>StudentId</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.studentId}}</td>
            <td>{{student.fName}}</td>
            <td>{{student.mName}}</td>
            <td>{{student.lName}}</td>
            <td>{{student.age}}</td>
            <td>
              <button class="btn btn-primary btn-xs" 
                type="button" (click)="handleEdit(student.studentId)">Edit</button>
              <button class="btn btn-danger btn-xs" 
                type="button" (click)="handleDelete(student.studentId)">Delete</button>
            </td>
        </tr>
    </ng-template>
</p-table>
